[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pylint = "*"
pyflakes = "*"
chardet = "*"
pep8 = "*"
cffi = "*"
blitzdb5 = "*"
sqlalchemy = "*"
pyyaml = "*"
tqdm = "*"
requests = "*"
psycopg2-binary = "*"

[dev-packages]

[requires]
python_version = "3.8"
