[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pylint = "*"
pyflakes = "*"
chardet = "*"
pep8 = "*"
cffi = "*"
blitzdb3-ce = "*"
sqlalchemy = "1.4.0"
pyyaml = "*"
tqdm = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "3.8"
